/* =========================
   CSS Principal
   ========================= */

@import url('variables.css');
@import url('layout.css');
@import url('components.css');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografia base */
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: var(--font-md);
}

/* Links */
a {
    color: var(--gray-light);
    text-decoration: none;
}

a:hover {
    color: var(--gray-dark);
}
